Repository jhardin4/APE: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, qmlfmt

black:
  name: Run black code formatter
  description: This hook formats Python code.
  entry: env LC_ALL=C.UTF-8 black -q
  language: system

qmlfmt:
  name: Run qmlfmt
  description: qmlfmt QML code formatter.
  entry: qmlfmt -w -e
  args:
  - -i 2
  - -t 2
  language: system

Core/Executor: properly support multiple nodes
  Core/Executor.py
  MultiProcess/APE_Interfaces.py
Due: black

Procedures/SampleTray_Start: fix typo
  Procedures/SampleTray_Start.py
Due: black

GUI: support User device in procedures
  GUI/main/ape/procedure/procedure_interface.py
Due: black

GUI: implement create device
  GUI/main/ape/panels/procedure/CreateDeviceDialog.qml
  GUI/main/ape/panels/procedure/ProcedurePanel.qml
  GUI/main/ape/panels/procedure/qmldir
  GUI/main/ape/procedure/__init__.py
  GUI/main/ape/procedure/ape_devices.py
  GUI/main/ape/procedure/procedure_interface.py
Due: black, qmlfmt

ProcExec: use deep_reload
  MultiProcess/ProcExec.py
Due: black

Procedures/Toolpath_Plot: expose image_file_name
  Procedures/Toolpath_Plot.py
Due: black

GUI: rework Utilities panel
  GUI/main/ape/apparatus/app_interface.py
  GUI/main/ape/base/resource_paths.py
  GUI/main/ape/panels/procedure/CreateDeviceDialog.qml
  GUI/main/ape/panels/utilities/CameraControlPanel.qml
  GUI/main/ape/panels/utilities/MotionControlPanel.qml
  GUI/main/ape/panels/utilities/PlotPanel.qml
  GUI/main/ape/panels/utilities/UtilitiesPanel.qml
  GUI/main/ape/utilities/__init__.py
  GUI/main/ape/utilities/app_interface_object.py
  GUI/main/ape/utilities/toolpath_plot.py
  GUI/main/ape/utilities/ueye_devices.py
  GUI/main/ape/utilities/ueye_view.py
Due: black, qmlfmt

Updating requirements
  APE1_BACKUP_2158.py
  APE1_BASE_2158.py
  APE1_LOCAL_2158.py
  APE1_REMOTE_2158.py
  requirements.txt
Due: black

Revert "Updating requirements"
  APE1_BACKUP_2158.py
  APE1_BASE_2158.py
  APE1_LOCAL_2158.py
  APE1_REMOTE_2158.py
  requirements.txt
Due: black

pre-commit: disable tests not working on Windows
  .pre-commit-config.yaml
Due: none

installs_scripts: fix scripts for Windows Subsystem for Linux
  install_scripts/docker-dev.sh
Due: none

update README
  README.md
Due: none

GUI/main: fix import error
  GUI/main/main_gui.py
Due: black

zmqNode: fix changing dict
  MultiProcess/zmqNode.py
Due: black

experimenting with travis
  .travis.yml
Due: none

Including getSimulation functionality for apparatus
  Core/Apparatus.py
  MultiProcess/APE_Interfaces.py
Due: black

Alignment procedures repaired
  Core/__pycache__/Apparatus.cpython-36.pyc
  Devices/Aerotech_A3200_FlexPrinter.py
  Devices/__pycache__/Aerotech_A3200_FlexPrinter.cpython-36.pyc
  MultiProcess/__pycache__/APE_Interfaces.cpython-36.pyc
  Procedures/Aerotech_A3200_getPosition.py
  Procedures/User_FlexPrinter_Alignments_Update.py
  Procedures/__pycache__/Aerotech_A3200_getPosition.cpython-36.pyc
  Procedures/__pycache__/User_FlexPrinter_Alignments_Align.cpython-36.pyc
  Procedures/__pycache__/User_FlexPrinter_Alignments_Derive.cpython-36.pyc
  Procedures/__pycache__/User_FlexPrinter_Alignments_Update.cpython-36.pyc
  alignments.json
  nodelog_Appa.txt
  nodelog_ProcExec.txt
  nodelog_gui.txt
  nodelog_launcher.txt
Due: black

Lots of little updates
  AppTemplates/FlexPrinterGUI.py
  AppTemplates/__pycache__/FlexPrinterGUI.cpython-36.pyc
  Core/__pycache__/Apparatus.cpython-36.pyc
  Devices/__pycache__/Aerotech_A3200_FlexPrinter.cpython-36.pyc
  MultiProcess/__pycache__/APE_Interfaces.cpython-36.pyc
  PMMAcal.json
  Parses/EndofMotion.py
  Parses/StartofMotion.py
  Parses/__pycache__/EndofMotion.cpython-36.pyc
  Parses/__pycache__/StartofMotion.cpython-36.pyc
  Procedures/User_InkCal_Calculate.py
  Procedures/__pycache__/Aerotech_A3200_getPosition.cpython-36.pyc
  Procedures/__pycache__/Toolpath_Generate.cpython-36.pyc
  Procedures/__pycache__/Toolpath_Plot.cpython-36.pyc
  Procedures/__pycache__/User_FlexPrinter_Alignments_Update.cpython-36.pyc
  Procedures/__pycache__/User_InkCal_Calculate.cpython-36.pyc
  alignments.json
  nodelog_Appa.txt
  nodelog_ProcExec.txt
  nodelog_gui.txt
  nodelog_launcher.txt
Due: black

Cleared Project procedures adn worked on plot Util
  Core/__pycache__/Apparatus.cpython-36.pyc
  GUI/main/ape/utilities/toolpath_plot.py
  Project_Procedures/FinalImages.py
  Project_Procedures/ImPredict.py
  Project_Procedures/InitialImages.py
  Project_Procedures/MJfunctions.py
  Project_Procedures/OptSpeed.py
  Project_Procedures/PrintSample.py
  Project_Procedures/SpanningSample.py
  Project_Procedures/Suggest.py
  Project_Procedures/__init__.py
  Project_Procedures/dictLoader.py
  Project_Procedures/gnbTest1.pkl
  Project_Procedures/latestDictionary.pkl
  Project_Procedures/latestDictionary2.pkl
  Project_Procedures/testsave_svmcmodel.pkl
  Project_Procedures/utils.py
  nodelog_Appa.txt
  nodelog_ProcExec.txt
  nodelog_gui.txt
  nodelog_launcher.txt
Due: black

restoring some plotting utility stuff back to original
  GUI/main/ape/utilities/toolpath_plot.py
  Project_Procedures/__pycache__/__init__.cpython-36.pyc
  nodelog_Appa.txt
  nodelog_ProcExec.txt
  nodelog_gui.txt
  nodelog_launcher.txt
Due: black

Plot is Working
  GUI/TemplateGUIs/__pycache__/FlexPrinterGUI.cpython-36.pyc
  GUI/TemplateGUIs/__pycache__/FlexPrinterGUI.cpython-37.pyc
  GUI/TemplateGUIs/__pycache__/FromFile.cpython-36.pyc
  GUI/TemplateGUIs/__pycache__/FromFile.cpython-37.pyc
  GUI/TemplateGUIs/__pycache__/__init__.cpython-36.pyc
  GUI/TemplateGUIs/__pycache__/__init__.cpython-37.pyc
  GUI/__pycache__/APE.cpython-36.pyc
  GUI/__pycache__/APE1.cpython-36.pyc
  GUI/__pycache__/APE1.cpython-37.pyc
  GUI/__pycache__/APE2.cpython-36.pyc
  GUI/__pycache__/APE2.cpython-37.pyc
  GUI/__pycache__/APEcode.cpython-36.pyc
  GUI/__pycache__/APEcode.cpython-37.pyc
  GUI/__pycache__/GUI_Node.cpython-36.pyc
  GUI/__pycache__/GUI_Node.cpython-37.pyc
  GUI/main/ape/panels/utilities/CameraControlPanel.qml
  GUI/main/ape/panels/utilities/MotionControlPanel.qml
  GUI/main/ape/panels/utilities/PlotPanel.qml
  GUI/main/ape/panels/utilities/UtilitiesPanel.qml
  GUI/main/ape/panels/utilities/UtilityGroupBox.qml
  GUI/main/ape/utilities/toolpath_plot.py
  nodelog_Appa.txt
  nodelog_ProcExec.txt
  nodelog_gui.txt
Due: black, qmlfmt

Update .gitignore
  .gitignore
Due: none

Fixed some logging issues and added in StartUp procedure
  Core/Apparatus.py
  Core/Procedure.py
  Core/__pycache__/Apparatus.cpython-36.pyc
  Core/__pycache__/Procedure.cpython-36.pyc
  MultiProcess/__pycache__/zmqNode.cpython-36.pyc
  MultiProcess/zmqNode.py
  Procedures/User_StartUp.py
  Procedures/__init__.py
  Procedures/__pycache__/__init__.cpython-36.pyc
  nodelog_Appa.txt
  nodelog_ProcExec.txt
  nodelog_gui.txt
  nodelog_launcher.txt
  startup.json
Due: black

Work Around for Multiprocess problems and new TG_Gen stuff
  AppTemplates/__pycache__/FlexPrinterGUI.cpython-36.pyc
  MultiProcess/__pycache__/zmqNode.cpython-36.pyc
  Procedures/User_FlexPrinter_Alignments_Derive.py
  Procedures/User_FlexPrinter_Alignments_Load.py
  Procedures/User_FlexPrinter_Alignments_getAlign.py
  Procedures/__init__.py
  Procedures/__pycache__/User_FlexPrinter_Alignments_Derive.cpython-36.pyc
  Procedures/__pycache__/__init__.cpython-36.pyc
  ToolPathGeneration/ToolPathTools_New.py
  ToolPathGeneration/ToolPathTools_Old.py
  alignments.json
Due: black

Procedure updates
  Procedures/Camera_Capture_ImageXY.py
  Procedures/Toolpath_Generate.py
  Procedures/User_FlexPrinter_Alignments_getAlign.py
Due: black

Recovering Monolith Capabilities
  AppTemplates/FlexPrinterMonolith.py
  Core/Apparatus.py
  Core/Executor.py
  Example_Monolith.py
  Procedures/Planner_Combinatorial.py
  Procedures/SampleTray_Start.py
  Procedures/Toolpath_Generate.py
  Procedures/User_Consol_Input.py
  Procedures/User_Consol_InputOptions.py
  StartAPE2.bat
  alignments.json
  run.json
Due: black

Fixed bugged from 10/30 Live run
  Procedures/Aerotech_A3200_getPosition.py
  StartAPE.bat
  StartAPE2.bat
  TemplateTPGen.py
  ToolPathGeneration/ToolPathTools.py
  ToolPathGeneration/ToolPathTools_New.py
  ToolPathGeneration/ToolPathTools_Old.py
  alignments.json
  run.json
Due: black

11/14 Live Test bug fixes
  Procedures/User_InkCal_Calculate.py
  Procedures/User_InkCal_Measure.py
Due: black

Update TPGen for Monolith
  Devices/Nordson_UltimusV_A3200.py
  Example_Monolith.py
  Parses/EndofMotion.py
  Parses/StartofMotion.py
  Procedures/Toolpath_Generate.py
  ToolPathGeneration/ToolPathTools.py
  run.json
  test_materialcal.json
Due: black

Aeropump fix
  Devices/Nordson_UltimusV_A3200.py
Due: black

Fixes from Andy and Pump delays
  Devices/Nordson_UltimusV.py
  Parses/EndofMotion.py
  Parses/StartofMotion.py
Due: black

Fixing Executor file operations
  Core/Executor.py
  untitled0.py
Due: black

APE version information
  Core/Apparatus.py
  Devices/Aerotech_A3200_FlexPrinter.py
  Devices/Device.py
  Example_Monolith.py
  Procedures/Toolpath_Print.py
  run.json
Due: black

Updating branch name
  Core/Apparatus.py
Due: black

Path conditions:
  black: any of: \.py$
  qmlfmt: any of: ^.*\.qml$
