Repository jhardin4/APE: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, qmlfmt

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: check-ast
      - id: check-byte-order-marker
      - id: trailing-whitespace
        exclude: '.*\.patch'
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: fix-encoding-pragma

- repo: local
  hooks:
    -   id: black
        name: Run black code formatter
        description: This hook formats Python code.
        entry: env LC_ALL=C.UTF-8 black -q
        language: system
        types: [python]

    -   id: qmlfmt
        name: Run qmlfmt
        description: qmlfmt QML code formatter.
        entry: qmlfmt -w -e
        args: [-i 2, -t 2]
        language: system
        files: ^.*\.qml$

    # -   id: docker-image-version
    #     name: Check for current docker image version
    #     description:  Fail if docker image is out of date and needs bump
    #     entry: install_scripts/docker-dev.sh -B
    #     language: system
    #     # Always run, just once
    #     exclude: ^.*$
    #     always_run: true

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: flake8
        # note: ignores and excluded files in .flake8

rework User related devices and Procedures
  Devices/User_GUI.py
  Procedures/User_Consol_Input.py
  Procedures/User_Consol_InputOptions.py
Due: black

Procedures/SampleTray_Start: use set and getValue
  Procedures/SampleTray_Start.py
Due: black

GUI/AppInterface: don't modify local tree on connect/disconnect
  GUI/main/ape/apparatus/app_interface.py
Due: black

GUI: use common ApeTreeView
  GUI/main/ape/apparatus/ProclogTreeView.qml
  GUI/main/ape/controls/ApeTreeView.qml
  GUI/main/ape/procedure/ProcedureTreeView.qml
Due: qmlfmt

GUI/ProclogModel: disable reversed for now
  GUI/main/ape/apparatus/proclog_model.py
  GUI/main/ape/apparatus/tests/test_proclog_model.py
Due: black

GUI: better value conversion
  GUI/main/ape/apparatus/app_image_tree_model.py
  GUI/main/ape/apparatus/watchlist_model.py
  GUI/main/ape/base/helpers.py
  GUI/main/ape/base/tests/test_helpers.py
  GUI/main/ape/procedure/procedure_interface.py
Due: black

GUI/MotionControlPanel: fix broken axis
  GUI/main/ape/panels/utilities/MotionControlPanel.qml
Due: qmlfmt

GUI/Procedures: fix run reqs
  GUI/main/ape/panels/procedure/AvailableProcsPanel.qml
Due: qmlfmt

GUI/OperationsPanel: fix connect/disconnect operations
  GUI/main/ape/panels/apparatus/OperationsPanel.qml
Due: qmlfmt

GUI/UEyeView: move opencv dependency to open
  GUI/main/ape/utilities/ueye_view.py
Due: black

GUI/DataPanel: fix refresh and templates
  GUI/main/ape/panels/apparatus/DataPanel.qml
Due: qmlfmt

Core/Executor: return success state
  Core/Executor.py
  MultiProcess/APE_Interfaces.py
Due: black

Core/Executor: make sure we log strings
  Core/Executor.py
Due: black

Devices/User_Consol: fix default response
  Devices/User_Consol.py
Due: black

TemplateGUIs/FlexPrinterGUI: fix value names
  GUI/TemplateGUIs/FlexPrinterGUI.py
Due: black

ProcExec: add special value syntax
  MultiProcess/ProcExec.py
Due: black

GUI: add copy by reference
  GUI/main/ape/handlers/NodeHandler.qml
  GUI/main/ape/procedure/RequirementsTableView.qml
Due: qmlfmt

GUI/ProcedureInterface: fix value conversion
  GUI/main/ape/procedure/procedure_interface.py
Due: black

GUI/ProcedureInterface: fix createDevice
  GUI/main/ape/procedure/procedure_interface.py
Due: black

GUI/NewAppEntryDialog: accept on return
  GUI/main/ape/apparatus/NewAppEntryDialog.qml
Due: qmlfmt

GUI/ProclogModel: fix support for string info
  GUI/main/ape/apparatus/proclog_model.py
Due: black

GUI: support copy by reference
  GUI/main/ape/apparatus/AppImageTreeView.qml
Due: qmlfmt

GUI: fix JSON decode error
  GUI/main/ape/base/helpers.py
Due: black

GUI/ProclogModel: fix display of empty data items
  GUI/main/ape/apparatus/proclog_model.py
  GUI/main/ape/apparatus/tests/test_proclog_model.py
Due: black

Procedures/SampleTray_Start: fix assignment
  Procedures/SampleTray_Start.py
Due: black

Procedures/Planner_Combinatorial: fix use of apparatus getters
  Procedures/Planner_Combinatorial.py
Due: black

Procedures/SampleTray_XY_Setup: fix grid assignment
  Procedures/SampleTray_XY_Setup.py
Due: black

GUI/launcher: create log directory
  GUI/launcher/launcher_gui.py
Due: black

ProcExec: implement procedures list
  MultiProcess/APE_Interfaces.py
  MultiProcess/ProcExec.py
Due: black

ApparatusInterface: fix logging of non-serializable objects
  MultiProcess/APE_Interfaces.py
  MultiProcess/zmqNode.py
Due: black

GUI: implement procedures list
  GUI/main/ape/apparatus/AppImageTreeView.qml
  GUI/main/ape/apparatus/app_interface.py
  GUI/main/ape/controls/ApeTreeView.qml
  GUI/main/ape/handlers/NodeHandler.qml
  GUI/main/ape/panels/apparatus/OperationsPanel.qml
  GUI/main/ape/panels/procedure/AvailableProcsPanel.qml
  GUI/main/ape/panels/procedure/ImportExportDialog.qml
  GUI/main/ape/panels/procedure/ProcedurePanel.qml
  GUI/main/ape/panels/procedure/ProclistPanel.qml
  GUI/main/ape/panels/procedure/qmldir
  GUI/main/ape/procedure/ProceduresTableView.qml
  GUI/main/ape/procedure/procedure_interface.py
  GUI/main/ape/procedure/qmldir
Due: black, qmlfmt

Core/Executor: use ApeInterface
  Core/Executor.py
Due: black

Procedures/Toolpath_Plot: fix projection=3d
  Procedures/Toolpath_Plot.py
Due: black

PrintSample: fix run with node
  Project_Procedures/PrintSample.py
Due: black

ProcExec: add do method
  MultiProcess/APE_Interfaces.py
  MultiProcess/ProcExec.py
Due: black

GUI: fix motion control
  GUI/main/ape/panels/utilities/MotionControlPanel.qml
  GUI/main/ape/procedure/procedure_interface.py
Due: black, qmlfmt

ProcExec: implement module reload
  MultiProcess/APE_Interfaces.py
  MultiProcess/ProcExec.py
Due: black

Procedures/SampleTray_Start: fix typo
  GUI/main/ape/panels/procedure/ProcedurePanel.qml
  GUI/main/ape/procedure/procedure_interface.py
  Procedures/SampleTray_Start.py
Due: black, qmlfmt

GUI: don't expand AppImageTreeView
  GUI/main/ape/apparatus/AppImageTreeView.qml
Due: qmlfmt
