Repository jhardin4/APE: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, qmlfmt

black:
  name: Run black code formatter
  description: This hook formats Python code.
  entry: env LC_ALL=C.UTF-8 black -q
  language: system

qmlfmt:
  name: Run qmlfmt
  description: qmlfmt QML code formatter.
  entry: qmlfmt -w -e
  args:
  - -i 2
  - -t 2
  language: system

GUI/main: fix live coding restart
  GUI/main/main_gui.py
Due: black

ApparatusPanel: use AppImageTreeView
  GUI/main/ape/panels/apparatus/ApparatusPanel.qml
Due: qmlfmt

GUI: add base and style modules
  GUI/main/ape/base/__init__.py
  GUI/main/ape/base/resource_paths.py
  GUI/main/ape/core/IconObject.qml
  GUI/main/ape/core/Style.qml
  GUI/main/ape/core/qmldir
Due: black, qmlfmt

GUI_Node: replace non-functional start/stop functions
  GUI/GUI_Node.py
Due: black

GUI/AppImageTreeModel: add find/replace function
  GUI/main/ape/apparatus/app_image_tree_model.py
  GUI/main/ape/apparatus/tests/test_app_image_tree_model.py
  GUI/main/ape/panels/apparatus/ApparatusPanel.qml
Due: black, qmlfmt

GUI: move findAndReplace to appInterface
  GUI/main/ape/apparatus/AppImageTreeView.qml
  GUI/main/ape/apparatus/__init__.py
  GUI/main/ape/apparatus/app_image_loader.py
  GUI/main/ape/apparatus/app_image_tree_model.py
  GUI/main/ape/apparatus/app_interface.py
  GUI/main/ape/panels/apparatus/ApparatusPanel.qml
Due: black, qmlfmt

GUI: use OrderedDict as base data structure for app_image
  GUI/main/ape/apparatus/app_image_tree_model.py
  GUI/main/ape/apparatus/app_interface.py
  GUI/main/ape/apparatus/tests/test_app_image_tree_model.py
  GUI/main/ape/panels/apparatus/ApparatusPanel.qml
Due: black, qmlfmt

travis: fix pytest run
  .travis.yml
  GUI/main/ape/__init__.py
Due: black

GUI: implement Eproc view
  GUI/main/ape/apparatus/app_image_data.py
  GUI/main/ape/apparatus/app_image_tree_model.py
  GUI/main/ape/apparatus/app_interface.py
  GUI/main/ape/apparatus/tests/test_app_image_tree_model.py
  GUI/main/ape/handlers/NodeHandler.qml
  GUI/main/ape/panels/apparatus/ApparatusPanel.qml
  GUI/main/ape/panels/procedure/ProcedurePanel.qml
  GUI/main/ape/panels/procedure/qmldir
  GUI/main/ape/procedure/ProcedureTreeView.qml
  GUI/main/ape/procedure/__init__.py
  GUI/main/ape/procedure/procedure_model.py
  GUI/main/ape/procedure/qmldir
  GUI/main/ape/screens/MainScreen.qml
Due: black, qmlfmt

GUI: work on procedures
  GUI/main/ape/apparatus/AppImageTreeView.qml
  GUI/main/ape/panels/procedure/ProcedurePanel.qml
  GUI/main/ape/procedure/ProcedureTreeView.qml
  GUI/main/ape/procedure/RequirementsTableView.qml
  GUI/main/ape/procedure/__init__.py
  GUI/main/ape/procedure/procedure_model.py
  GUI/main/ape/procedure/qmldir
  GUI/main/ape/procedure/requirements_model.py
  GUI/main/ape/procedure/tests/test_procedure_model.py
  GUI/main/ape/procedure/tests/test_requirements_model.py
  GUI/main/ape/screens/MainScreen.qml
  GUI/main/ape/screens/StackSplitView.qml
Due: black, qmlfmt

GUI: more work on procedures
  GUI/main/ape/apparatus/app_interface.py
  GUI/main/ape/apparatus/tests/test_app_image_tree_model.py
  GUI/main/ape/handlers/NodeHandler.qml
  GUI/main/ape/panels/procedure/ProcedurePanel.qml
  GUI/main/ape/procedure/ProcedureList.qml
  GUI/main/ape/procedure/ProcedureTreeView.qml
  GUI/main/ape/procedure/RequirementsTableView.qml
  GUI/main/ape/procedure/procedure_model.py
  GUI/main/ape/procedure/qmldir
  GUI/main/ape/procedure/tests/test_procedure_model.py
  GUI/main/ape/screens/MainScreen.qml
Due: black, qmlfmt

GUI: import procedure
  GUI/main/main_gui.py
Due: black

GUI: make procedure selection smoother
  GUI/main/ape/core/Style.qml
  GUI/main/ape/panels/procedure/ProcedurePanel.qml
  GUI/main/ape/procedure/ProcedureList.qml
  GUI/main/ape/procedure/RequirementsTableView.qml
  GUI/main/ape/procedure/procedure_model.py
Due: black, qmlfmt

GUI/AppImageData: fix missing parent reference
  GUI/main/ape/apparatus/app_image_data.py
Due: black

GUI/ApparatusPanel: add templates
  GUI/main/ape/apparatus/app_interface.py
  GUI/main/ape/panels/apparatus/ApparatusPanel.qml
Due: black, qmlfmt

GUI: add more controls
  GUI/main/ape/panels/apparatus/ApparatusPanel.qml
  GUI/main/ape/panels/procedure/ProcedurePanel.qml
  GUI/main/ape/procedure/ProcedureList.qml
Due: qmlfmt

GUI: add watchlist controls
  GUI/main/ape/apparatus/AppImageTreeView.qml
  GUI/main/ape/apparatus/AppImageTreeViewItemDelegate.qml
  GUI/main/ape/apparatus/app_image_data.py
  GUI/main/ape/apparatus/app_image_tree_model.py
  GUI/main/ape/apparatus/tests/test_app_image_data.py
  GUI/main/ape/core/Style.qml
  GUI/main/ape/panels/apparatus/ApparatusPanel.qml
Due: black, qmlfmt

GUI: implement watches
  GUI/main/ape/apparatus/AppImageTreeView.qml
  GUI/main/ape/apparatus/AppImageTreeViewItemDelegate.qml
  GUI/main/ape/apparatus/WatchTableView.qml
  GUI/main/ape/apparatus/app_image_data.py
  GUI/main/ape/apparatus/app_image_tree_model.py
  GUI/main/ape/apparatus/app_interface.py
  GUI/main/ape/apparatus/qmldir
  GUI/main/ape/apparatus/tests/test_app_image_data.py
  GUI/main/ape/panels/apparatus/ApparatusPanel.qml
  GUI/main/ape/panels/apparatus/FilePanel.qml
  GUI/main/ape/panels/apparatus/FindAndReplacePanel.qml
  GUI/main/ape/panels/apparatus/OperationsPanel.qml
Due: black, qmlfmt

GUI: restructure apparatus panel
  GUI/main/ape/apparatus/app_interface.py
  GUI/main/ape/panels/apparatus/ApparatusPanel.qml
  GUI/main/ape/panels/apparatus/DataPanel.qml
  GUI/main/ape/panels/apparatus/FilePanel.qml
  GUI/main/ape/panels/apparatus/FindAndReplacePanel.qml
  GUI/main/ape/panels/apparatus/OperationsPanel.qml
  GUI/main/ape/panels/procedure/ProcedurePanel.qml
Due: black, qmlfmt

GUI: make layout adaptable to window size
  GUI/main/ape/controls/MorphingContainer.qml
  GUI/main/ape/controls/qmldir
  GUI/main/ape/panels/apparatus/ApparatusPanel.qml
  GUI/main/ape/panels/procedure/ProcedurePanel.qml
  GUI/main/ape/screens/MainScreen.qml
  GUI/main/prototyping/MorphingContainerTest.qml
Due: qmlfmt

GUI/AppImageTreeModel: fix column count
  GUI/main/ape/apparatus/tests/test_app_image_tree_model.py
Due: black

GUI/Apparatus: only fetch values when GUI is running
  GUI/main/ape/panels/apparatus/ApparatusPanel.qml
Due: qmlfmt

Apparatus: add optional fname parameter
  Core/Apparatus.py
Due: black

ApparatusInterface: add logApparatus function
  MultiProcess/APE_Interfaces.py
Due: black

GUI: implement saveAs
  GUI/main/ape/apparatus/app_interface.py
  GUI/main/ape/panels/apparatus/DataPanel.qml
Due: black, qmlfmt

Apparatus: pretty print JSON file
  Core/Apparatus.py
Due: black

zmqNode: fix potentially uninitialized variable access
  MultiProcess/zmqNode.py
Due: black

GUI/launcher: fix window/application close
  GUI/launcher/launcher_gui.py
Due: black

ProcExec: implement procedure list
  MultiProcess/APE_Interfaces.py
  MultiProcess/ProcExec.py
Due: black

GUI: split AppInterface and ProcedureInterface
  GUI/main/ape/apparatus/app_interface.py
  GUI/main/ape/handlers/NodeHandler.qml
  GUI/main/ape/panels/apparatus/ApparatusPanel.qml
  GUI/main/ape/panels/apparatus/OperationsPanel.qml
  GUI/main/ape/panels/procedure/ProcedurePanel.qml
  GUI/main/ape/procedure/__init__.py
  GUI/main/ape/procedure/procedure_interface.py
  GUI/main/ape/procedure/procedure_model.py
Due: black, qmlfmt

zmqNode: make more error resistant
  MultiProcess/zmqNode.py
Due: black

ProcExec: fix proclist functions
  MultiProcess/APE_Interfaces.py
  MultiProcess/ProcExec.py
Due: black

GUI: implement interaction with proclist
  GUI/main/ape/controls/MorphingContainer.qml
  GUI/main/ape/handlers/NodeHandler.qml
  GUI/main/ape/panels/procedure/ProcedurePanel.qml
  GUI/main/ape/procedure/procedure_interface.py
  GUI/main/ape/screens/MainScreen.qml
Due: black, qmlfmt

GUI/ProcedureModel: fix tests
  GUI/main/ape/procedure/tests/test_procedure_model.py
Due: black

ProcExec: make it possible to add non-device procedures
  MultiProcess/ProcExec.py
Due: black

GUI: implement module procedure support
  GUI/main/ape/panels/procedure/ProcedurePanel.qml
  GUI/main/ape/procedure/ProcedureTreeView.qml
  GUI/main/ape/procedure/procedure_interface.py
Due: black, qmlfmt

GUI: implement updating and setting app_image values
  GUI/main/ape/apparatus/AppImageTreeView.qml
  GUI/main/ape/apparatus/AppImageTreeViewItemDelegate.qml
  GUI/main/ape/apparatus/ValueItemDelegate.qml
  GUI/main/ape/apparatus/WatchTableView.qml
  GUI/main/ape/apparatus/__init__.py
  GUI/main/ape/apparatus/app_image_data.py
  GUI/main/ape/apparatus/app_image_tree_model.py
  GUI/main/ape/apparatus/app_interface.py
  GUI/main/ape/apparatus/tests/test_app_image_data.py
  GUI/main/ape/apparatus/tests/test_app_image_tree_model.py
  GUI/main/ape/apparatus/tests/test_watchlist_model.py
  GUI/main/ape/apparatus/watchlist_model.py
  GUI/main/ape/panels/apparatus/ApparatusPanel.qml
  MultiProcess/tests/test_ProcExec.py
Due: black, qmlfmt

Core/Apparatus: simplify setValue
  Core/Apparatus.py
Due: black

GUI/Apparatus: add simulation check
  GUI/main/ape/panels/apparatus/OperationsPanel.qml
Due: qmlfmt

Apparatus: optimize createAppEntry and add removeAppEntry
  Core/Apparatus.py
  MultiProcess/APE_Interfaces.py
Due: black

Path conditions:
  black: any of: \.py$
  qmlfmt: any of: ^.*\.qml$
