Repository jhardin4/APE: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, qmlfmt

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: check-ast
      - id: check-byte-order-marker
      - id: trailing-whitespace
        exclude: '.*\.patch'
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: fix-encoding-pragma

- repo: local
  hooks:
    -   id: black
        name: Run black code formatter
        description: This hook formats Python code.
        entry: env LC_ALL=C.UTF-8 black -q
        language: system
        types: [python]

    -   id: qmlfmt
        name: Run qmlfmt
        description: qmlfmt QML code formatter.
        entry: qmlfmt -w -e
        args: [-i 2, -t 2]
        language: system
        files: ^.*\.qml$

    # -   id: docker-image-version
    #     name: Check for current docker image version
    #     description:  Fail if docker image is out of date and needs bump
    #     entry: install_scripts/docker-dev.sh -B
    #     language: system
    #     # Always run, just once
    #     exclude: ^.*$
    #     always_run: true

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: flake8
        # note: ignores and excluded files in .flake8

GUI/Apparatus: implement add/remove of app entries
  GUI/main/ape/apparatus/AppImageTreeView.qml
  GUI/main/ape/apparatus/NewAppEntryDialog.qml
  GUI/main/ape/apparatus/ValueItemDelegate.qml
  GUI/main/ape/apparatus/app_image_tree_model.py
  GUI/main/ape/apparatus/app_interface.py
  GUI/main/ape/apparatus/qmldir
Due: black, qmlfmt

Apparatus: implement partial serialClone
  Core/Apparatus.py
  MultiProcess/APE_Interfaces.py
Due: black

ApparatusInterface: add DoEproc
  MultiProcess/APE_Interfaces.py
Due: black

ProcExec: use apparatus.DoEproc
  MultiProcess/ProcExec.py
Due: black

Procedure: prevent breaking log when exception happens
  Core/Procedure.py
Due: black

GUI: add Proclog View
  GUI/main/ape/apparatus/ProclogTreeView.qml
  GUI/main/ape/apparatus/__init__.py
  GUI/main/ape/apparatus/app_interface.py
  GUI/main/ape/apparatus/proclog_model.py
  GUI/main/ape/apparatus/qmldir
  GUI/main/ape/apparatus/tests/test_proclog_model.py
  GUI/main/ape/apparatus/watchlist_model.py
  GUI/main/ape/controls/ApeTreeView.qml
  GUI/main/ape/controls/MorphingContainer.qml
  GUI/main/ape/controls/qmldir
  GUI/main/ape/handlers/NodeHandler.qml
  GUI/main/ape/panels/apparatus/ApparatusPanel.qml
  GUI/main/ape/panels/apparatus/OperationsPanel.qml
  GUI/main/ape/panels/procedure/ProcedurePanel.qml
Due: black, qmlfmt

Devices/Motion: fix typo in member name
  Devices/Motion.py
Due: black

GUI: add basic motion control panel
  GUI/main/ape/controls/DoubleSpinBox.qml
  GUI/main/ape/controls/qmldir
  GUI/main/ape/panels/apparatus/DataPanel.qml
  GUI/main/ape/panels/utilities/CameraControlPanel.qml
  GUI/main/ape/panels/utilities/MotionControlPanel.qml
  GUI/main/ape/panels/utilities/UtilitiesPanel.qml
  GUI/main/ape/panels/utilities/qmldir
  GUI/main/ape/screens/MainScreen.qml
  GUI/main/ape/utilities/__init__.py
  GUI/main/ape/utilities/motion_devices.py
  GUI/main/main_gui.py
Due: black, qmlfmt

install_scripts: add dependencies
  GUI/main/ape/utilities/ueye_view.py
  install_scripts/docker/3-deps.sh
  install_scripts/docker/4-tools.sh
  install_scripts/docker/Dockerfile
  install_scripts/docker/entrypoint.sh
  install_scripts/image-version.sh
  requirements.txt
Due: black

GUI: cv to QML prototype with webcam
  GUI/main/ape/panels/utilities/CameraControlPanel.qml
  GUI/main/ape/panels/utilities/UtilitiesPanel.qml
  GUI/main/ape/utilities/__init__.py
  GUI/main/ape/utilities/ueye_view.py
Due: black, qmlfmt

Drivers/uEeye: add video support
  Devices/Drivers/camera.py
  Devices/IDS_ueye.py
Due: black

implement basic ueye view
  GUI/main/ape/panels/utilities/CameraControlPanel.qml
  GUI/main/ape/utilities/ueye_view.py
Due: black, qmlfmt

install_scripts: remove enum34 which accidentally pulled in
  install_scripts/docker/3-deps.sh
  install_scripts/image-version.sh
Due: none

AppTemplates/FromFile: fix typo
  AppTemplates/FromFile.py
Due: black

Apparatus: adding import function
  Core/Apparatus.py
  MultiProcess/APE_Interfaces.py
Due: black

GUI: implement import
  GUI/main/ape/apparatus/app_interface.py
  GUI/main/ape/handlers/NodeHandler.qml
  GUI/main/ape/panels/apparatus/DataPanel.qml
  GUI/main/ape/panels/procedure/ProcedurePanel.qml
Due: black, qmlfmt

ProcExec: support Project Procedures
  MultiProcess/ProcExec.py
Due: black

Project_Procedures: fix procs
  GUI/main/ape/panels/procedure/ProcedurePanel.qml
  GUI/main/ape/panels/procedure/qmldir
  GUI/main/ape/procedure/procedure_interface.py
  Project_Procedures/MJfunctions.py
  Project_Procedures/OptSpeed.py
Due: black, qmlfmt

GUI: add Project Procedures and structure ProcedurePanel
  GUI/main/ape/panels/procedure/AvailableProcsPanel.qml
  GUI/main/ape/panels/procedure/ProclistPanel.qml
  GUI/main/ape/procedure/ProcedureList.qml
  GUI/main/ape/procedure/qmldir
Due: qmlfmt

Project_Procedures: add PrintSample
  Project_Procedures/PrintSample.py
  Project_Procedures/__init__.py
Due: black

GUI: fixup tests
  GUI/main/ape/apparatus/tests/test_app_image_tree_model.py
  GUI/main/ape/apparatus/tests/test_watchlist_model.py
Due: black

AppTemplates: add empty template
  AppTemplates/Empty.py
  AppTemplates/__init__.py
  GUI/TemplateGUIs/Empty.py
  GUI/TemplateGUIs/__init__.py
Due: black

GUI/MotionDevices: fix too simple check
  GUI/main/ape/utilities/motion_devices.py
Due: black

GUI: implement copy entry name and value
  GUI/main/ape/apparatus/AppImageTreeView.qml
  GUI/main/ape/handlers/NodeHandler.qml
  GUI/main/ape/procedure/RequirementsTableView.qml
Due: qmlfmt

ProcExec: add import/export functionality
  MultiProcess/APE_Interfaces.py
  MultiProcess/ProcExec.py
Due: black

GUI: add proclist import/export
  GUI/main/ape/panels/apparatus/DataPanel.qml
  GUI/main/ape/panels/procedure/ImportExportDialog.qml
  GUI/main/ape/panels/procedure/ProclistPanel.qml
  GUI/main/ape/procedure/procedure_interface.py
Due: black, qmlfmt

GUI: show default requirements in proclist requirements view
  GUI/main/ape/panels/procedure/ProclistPanel.qml
  GUI/main/ape/procedure/procedure_interface.py
Due: black, qmlfmt

Apparatus: raise error when key does not exist
  Core/Apparatus.py
  Core/Procedure.py
Due: black

Core/Apparatus: don't duplicate descriptors
  Core/Apparatus.py
Due: black

Core/Apparatus: fix typo
  Core/Apparatus.py
Due: black

Core/Apparatus: set Connected on Disconnect to false
  Core/Apparatus.py
Due: black

Core/Apparatus: use more verbose exception messages
  Core/Apparatus.py
Due: black

Core/Executor: only return non zmq devices on request
  Core/Executor.py
Due: black

zmqNode: remove cur_connection and use actual connection instead
  Core/Executor.py
  MultiProcess/zmqNode.py
Due: black

ProcExec: fix import of proclist
  MultiProcess/ProcExec.py
Due: black

Executor: make sure to create device on correct node
  Core/Executor.py
  MultiProcess/APE_Interfaces.py
Due: black

APE_Interface: replace duplicate code and make calls blocking
  MultiProcess/APE_Interfaces.py
Due: black

Devices/Aerotech_A3200_FlexPrinter: fix descriptor duplication
  Devices/Aerotech_A3200_FlexPrinter.py
Due: black

Devices/Sensor: add missing self
  Devices/Sensor.py
Due: black

Devices/User_GUI: fixup descriptors
  Devices/User_GUI.py
Due: black
