Repository jhardin4/APE: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, qmlfmt

black:
  name: Run black code formatter
  description: This hook formats Python code.
  entry: env LC_ALL=C.UTF-8 black -q
  language: system

qmlfmt:
  name: Run qmlfmt
  description: qmlfmt QML code formatter.
  entry: qmlfmt -w -e
  args:
  - -i 2
  - -t 2
  language: system

pre-commit: ignore Logs
  .pre-commit-config.yaml
Due: none

remove log files
  nodelog_gui.txt
  nodelog_launcher.txt
Due: none

update README and pre-commit
  .pre-commit-config.yaml
  README.md
Due: none

flake8 code cleanup
  AppTemplates/FlexPrinterGUI.py
  Core/Procedure.py
  Devices/Drivers/ueye.py
  Devices/Drivers/ueye_codes.py
  Devices/User_GUI.py
  Devices/__init__.py
  GUI/TemplateGUIs/FlexPrinterGUI.py
  GUI/TemplateGUIs/__init__.py
  Procedures/Aerotech_A3200_Set.py
  ToolPathGeneration/CompGeo.py
Due: black

add matplotlib to requirements
  requirements.txt
Due: none

GUI/FromFile: remove unused dependencies
  GUI/TemplateGUIs/FromFile.py
Due: black

Drivers/A3200: fix tab/whitespace mixing
  Devices/Drivers/A3200.py
Due: black

fix flake8 errors
  GUI/APEcode.py
  MultiProcess/zmqNode.py
  Parses/EndofMotion.py
  Procedures/User_FlexPrinter_Alignments_Update.py
  ToolPathGeneration/HoneycombToolpathTools.py
  ToolPathGeneration/ToolPathTools.py
Due: black

fix flake8 errors
  APE1.py
  AppTemplates/__init__.py
  Core/Apparatus.py
  Core/__init__.py
  Devices/Drivers/Ultimus_V.py
  Devices/IDS_ueye.py
  Devices/Keyence_GT2_A3200.py
  Devices/dtest.py
  GUI/APE1.py
  GUI/APE2.py
  GUI/APE_GUI_Node.py
  GUI/GUI_Node.py
  Parses/EndofLayer.py
  Parses/__init__.py
  Procedures/Aerotech_A3200_getPosition.py
  Procedures/Planner_Combinatorial.py
  Procedures/Toolpath_Generate.py
  Procedures/User_InkCal_Measure.py
  Procedures/__init__.py
  Project_Procedures/FinalImages.py
  Project_Procedures/ImPredict.py
  Project_Procedures/MJfunctions.py
  Project_Procedures/__init__.py
  Project_Procedures/utils.py
  startup.py
  untitled0.py
Due: black

fix typo
  Project_Procedures/MJfunctions.py
Due: black

add travis.yml
  .travis.yml
Due: none

add more files to .gitignore
  .gitignore
Due: none

QA: fix mutable assignments
  Core/Apparatus.py
  Core/Procedure.py
  Devices/Motion.py
  Devices/System.py
  MultiProcess/APE_Interfaces.py
  Project_Procedures/utils.py
  ToolPathGeneration/ToolPathTools.py
Due: black

install_scripts: remove unnecessary call
  install_scripts/docker-dev.sh
Due: none

update travis config
  .travis.yml
Due: none

install_scripts: add pre-commit setup
  install_scripts/include/pre-commit
  install_scripts/setup_workspace.sh
Due: none

Drivers/A3200: fix uninitialized ax_mask
  Devices/Drivers/A3200.py
Due: black

install_scripts: update pre-commit script
  install_scripts/include/pre-commit
Due: none

add dummy test and pre-commit
  .travis.yml
  Core/tests/test_Apparatus.py
Due: black

add more requirements
  requirements.txt
Due: none

fix imports
  .pre-commit-config.yaml
  GUI/APE_GUI_Node.py
  MultiProcess/Interface_Node.py
Due: black

pre-commit: disable pep8 naming
  .pre-commit-config.yaml
Due: none

startup: use logger instead of print
  startup.py
Due: black

startup: init member vars in init
  startup.py
Due: black

GUI: cleanup code
  GUI/APEcode.py
  GUI/GUI_Node.py
Due: black

GUI: add basic QML GUI
  .gitignore
  GUI/main/ape/MainPanel.qml
  GUI/main/ape/__init__.py
  GUI/main/ape/calculator.py
  GUI/main/ape/controls/HorizontalFiller.qml
  GUI/main/ape/controls/Icon.qml
  GUI/main/ape/controls/ScaleContainer.qml
  GUI/main/ape/controls/Spacer.qml
  GUI/main/ape/controls/Tester.qml
  GUI/main/ape/controls/VerticalFiller.qml
  GUI/main/ape/controls/qmldir
  GUI/main/ape/handlers/NodeHandler.qml
  GUI/main/ape/handlers/__init__.py
  GUI/main/ape/handlers/qmldir
  GUI/main/ape/nodes/__init__.py
  GUI/main/ape/nodes/appa_node.py
  GUI/main/ape/nodes/launcher.py
  GUI/main/ape/qmldir
  GUI/main/ape/tests/test_calculator.py
  GUI/main/live.qml
  GUI/main/main.py
  GUI/main/main.qml
  install_scripts/docker-dev.sh
  install_scripts/docker/3-tools.sh
  install_scripts/image-version.sh
  startup.py
Due: black, qmlfmt

zmqNode: remove connections on disconnect
  MultiProcess/zmqNode.py
Due: black

GUI: implement QML launcher
  GUI/main/ape/MainPanel.qml
  GUI/main/ape/handlers/NodeHandler.qml
  GUI/main/ape/nodes/__init__.py
  GUI/main/ape/nodes/appa_node.py
  GUI/main/ape/nodes/gui_node.py
  GUI/main/ape/nodes/launcher.py
  GUI/main/ape/nodes/node.py
  GUI/main/live.qml
  GUI/main/main.py
  GUI/main/main.qml
Due: black, qmlfmt

add .editorconfig
  .editorconfig
Due: none

GUI: remove utf-8 encoding comments
  GUI/main/ape/__init__.py
  GUI/main/ape/handlers/__init__.py
  GUI/main/ape/nodes/__init__.py
Due: black

GUI: implement AppImageTreeModel
  GUI/main/ape/apparatus/__init__.py
  GUI/main/ape/apparatus/app_image_tree_model.py
  GUI/main/ape/apparatus/tests/test_app_image_tree_model.py
  GUI/main/main.py
Due: black

install_scripts: add pytest-qt
  install_scripts/docker/3-tools.sh
  install_scripts/image-version.sh
Due: none

GUI: implement basic functionality
  GUI/main/ape/__init__.py
  GUI/main/ape/apparatus/AppImageTreeView.qml
  GUI/main/ape/apparatus/AppImageTreeViewItemDelegate.qml
  GUI/main/ape/apparatus/qmldir
  GUI/main/ape/calculator.py
  GUI/main/ape/nodes/__init__.py
  GUI/main/ape/nodes/gui_node.py
  GUI/main/ape/nodes/node.py
  GUI/main/ape/panels/apparatus/ApparatusPanel.qml
  GUI/main/ape/panels/apparatus/qmldir
  GUI/main/ape/panels/startup/StartupPanel.qml
  GUI/main/ape/panels/startup/qmldir
  GUI/main/ape/screens/MainScreen.qml
  GUI/main/ape/screens/qmldir
  GUI/main/ape/tests/test_calculator.py
  GUI/main/main.qml
Due: black, qmlfmt

install_scripts: update image
  install_scripts/docker/3-tools.sh
  install_scripts/image-version.sh
Due: none

GUI: implement AppImage model and view
  GUI/main/ape/apparatus/AppImageTreeView.qml
  GUI/main/ape/apparatus/AppImageTreeViewItemDelegate.qml
  GUI/main/ape/apparatus/__init__.py
  GUI/main/ape/apparatus/app_image_loader.py
  GUI/main/ape/apparatus/app_image_tree_model.py
  GUI/main/ape/apparatus/tests/test_app_image_tree_model.py
Due: black, qmlfmt

GUI: rework startup and main GUI start
  GUI/__init__.py
  GUI/launcher/__init__.py
  GUI/launcher/launcher_gui.py
  GUI/main/__init__.py
  GUI/main/live.qml
  GUI/main/main.qml
  GUI/main/main_gui.py
  gui.py
  startup.py
Due: black, qmlfmt

GUI/AppImageLoader: remove debug info
  GUI/main/ape/apparatus/app_image_loader.py
Due: black

GUI/Nodes: remove launcher and node implementations
  GUI/main/ape/handlers/NodeHandler.qml
  GUI/main/ape/nodes/__init__.py
  GUI/main/ape/nodes/gui_node.py
  GUI/main/ape/nodes/launcher.py
  GUI/main/ape/nodes/node.py
  GUI/main/ape/panels/startup/StartupPanel.qml
Due: black, qmlfmt

Path conditions:
  black: any of: \.py$
  qmlfmt: any of: ^.*\.qml$
